<li class="menuChoices optPref">
    <button class="option optOther optPref cFFF" type="button"><span id="optionMenu"><i class="fa fa-cog fa-lg fa-spin fa-fw" aria-hidden="true"></i></span></button>
</li>