<li class="menuChoices optColor">
    <button class="option optOther optColor c0A0" type="button"><span id="optionMenu"><i class="fa fa-paint-brush fa-lg fa-inverse" aria-hidden="true"></i></span></button>
    <ul class="colorUL">
        <li class="colorLI">
            <label for="000"><span class="color c000"><input name="color" type="radio" id="000" value="000" class="colorInput"></span></label>
            <label for="222"><span class="color c222"><input name="color" type="radio" id="222" value="222" class="colorInput"></span></label>
            <label for="696"><span class="color c696"><input name="color" type="radio" id="696" value="696" class="colorInput" checked></span></label>
            <label for="999"><span class="color c999"><input name="color" type="radio" id="999" value="999" class="colorInput"></span></label>
            <label for="DDD"><span class="color cDDD"><input name="color" type="radio" id="DDD" value="DDD" class="colorInput"></span></label>
            <label for="FFF"><span class="color cFFF"><input name="color" type="radio" id="FFF" value="FFF" class="colorInput"></span></label>
        </li>
        <li class="colorLI">
            <label for="E00"><span class="color cE00"><input name="color" type="radio" id="E00" value="E00" class="colorInput"></span></label>
            <label for="72C"><span class="color c72C"><input name="color" type="radio" id="72C" value="72C" class="colorInput"></span></label>
            <label for="008"><span class="color c008"><input name="color" type="radio" id="008" value="008" class="colorInput"></span></label>
            <label for="099"><span class="color c099"><input name="color" type="radio" id="099" value="099" class="colorInput"></span></label>
            <label for="0A0"><span class="color c0A0"><input name="color" type="radio" id="0A0" value="0A0" class="colorInput"></span></label>
            <label for="F91"><span class="color cF91"><input name="color" type="radio" id="F91" value="F91" class="colorInput"></span></label>
        </li>
        <li class="colorLI">
            <label for="F00"><span class="color cF00"><input name="color" type="radio" id="F00" value="F00" class="colorInput"></span></label>
            <label for="D0F"><span class="color cD0F"><input name="color" type="radio" id="D0F" value="D0F" class="colorInput"></span></label>
            <label for="22F"><span class="color c22F"><input name="color" type="radio" id="22F" value="22F" class="colorInput"></span></label>
            <label for="6DF"><span class="color c6DF"><input name="color" type="radio" id="6DF" value="6DF" class="colorInput"></span></label>
            <label for="0F0"><span class="color c0F0"><input name="color" type="radio" id="0F0" value="0F0" class="colorInput"></span></label>
            <label for="FD0"><span class="color cFD0"><input name="color" type="radio" id="FD0" value="FD0" class="colorInput"></span></label>
        </li>
        <li class="colorLI">
            <label for="F44"><span class="color cF44"><input name="color" type="radio" id="F44" value="F44" class="colorInput"></span></label>
            <label for="F2E"><span class="color cF2E"><input name="color" type="radio" id="F2E" value="F2E" class="colorInput"></span></label>
            <label for="08F"><span class="color c08F"><input name="color" type="radio" id="08F" value="08F" class="colorInput"></span></label>
            <label for="0FF"><span class="color c0FF"><input name="color" type="radio" id="0FF" value="0FF" class="colorInput"></span></label>
            <label for="BF0"><span class="color cBF0"><input name="color" type="radio" id="BF0" value="BF0" class="colorInput"></span></label>
            <label for="EE0"><span class="color cEE0"><input name="color" type="radio" id="EE0" value="EE0" class="colorInput"></span></label>
        </li>
        <li class="colorLI">
            <label for="F05"><span class="color cF05"><input name="color" type="radio" id="F05" value="F05" class="colorInput"></span></label>
            <label for="F6F"><span class="color cF6F"><input name="color" type="radio" id="F6F" value="F6F" class="colorInput"></span></label>
            <label for="0AE"><span class="color c0AE"><input name="color" type="radio" id="0AE" value="0AE" class="colorInput"></span></label>
            <label for="9FF"><span class="color c9FF"><input name="color" type="radio" id="9FF" value="9FF" class="colorInput"></span></label>
            <label for="5F9"><span class="color c5F9"><input name="color" type="radio" id="5F9" value="5F9" class="colorInput"></span></label>
            <label for="FF0"><span class="color cFF0"><input name="color" type="radio" id="FF0" value="FF0" class="colorInput"></span></label>
        </li>
    </ul>
</li>