<li class="menuChoices optSize">
    <button class="option optOther optSize cF91" type="button"><span id="optionMenu"><i class="fa fa-text-height fa-lg fa-inverse" aria-hidden="true"></i></span></button>
    <ul class="sizeUL">
        <li class="sizeLI">
            <label for="10"><span class="size fs10"><input name="size" type="radio" id="10" value="10" class="sizeInput"><span class="textSize t1">a</span></span></label>
            <label for="20"><span class="size fs20"><input name="size" type="radio" id="20" value="20" class="sizeInput"><span class="textSize t2">a</span></span></label>
            <label for="30"><span class="size fs30"><input name="size" type="radio" id="30" value="30" class="sizeInput"><span class="textSize t3">a</span></span></label>
            <label for="40"><span class="size fs40"><input name="size" type="radio" id="40" value="40" class="sizeInput"><span class="textSize t4">a</span></span></label>
            <label for="50"><span class="size fs50"><input name="size" type="radio" id="50" value="50" class="sizeInput"><span class="textSize t5">a</span></span></label>
            <label for="60"><span class="size fs60"><input name="size" type="radio" id="60" value="60" class="sizeInput"><span class="textSize t6">a</span></span></label>
        </li>
        <li class="sizeLI">
            <label for="12"><span class="size fs12"><input name="size" type="radio" id="12" value="12" class="sizeInput"><span class="textSize t1">a</span></span></label>
            <label for="22"><span class="size fs22"><input name="size" type="radio" id="22" value="22" class="sizeInput"><span class="textSize t2">a</span></span></label>
            <label for="32"><span class="size fs32"><input name="size" type="radio" id="32" value="32" class="sizeInput"><span class="textSize t3">a</span></span></label>
            <label for="42"><span class="size fs42"><input name="size" type="radio" id="42" value="42" class="sizeInput"><span class="textSize t4">a</span></span></label>
            <label for="52"><span class="size fs52"><input name="size" type="radio" id="52" value="52" class="sizeInput"><span class="textSize t5">a</span></span></label>
            <label for="62"><span class="size fs62"><input name="size" type="radio" id="62" value="62" class="sizeInput"><span class="textSize t6">a</span></span></label>
        </li>
        <li class="sizeLI">
            <label for="14"><span class="size fs14"><input name="size" type="radio" id="14" value="14" class="sizeInput"><span class="textSize t1">a</span></span></label>
            <label for="24"><span class="size fs24"><input name="size" type="radio" id="24" value="24" class="sizeInput"><span class="textSize t2">a</span></span></label>
            <label for="34"><span class="size fs34"><input name="size" type="radio" id="34" value="34" class="sizeInput"><span class="textSize t3">a</span></span></label>
            <label for="44"><span class="size fs44"><input name="size" type="radio" id="44" value="44" class="sizeInput"><span class="textSize t4">a</span></span></label>
            <label for="54"><span class="size fs54"><input name="size" type="radio" id="54" value="54" class="sizeInput"><span class="textSize t5">a</span></span></label>
            <label for="64"><span class="size fs64"><input name="size" type="radio" id="64" value="64" class="sizeInput"><span class="textSize t6">a</span></span></label>
        </li>
        <li class="sizeLI">
            <label for="16"><span class="size fs16"><input name="size" type="radio" id="16" value="16" class="sizeInput" checked><span class="textSize t1">a</span></span></label>
            <label for="26"><span class="size fs26"><input name="size" type="radio" id="26" value="26" class="sizeInput"><span class="textSize t2">a</span></span></label>
            <label for="36"><span class="size fs36"><input name="size" type="radio" id="36" value="36" class="sizeInput"><span class="textSize t3">a</span></span></label>
            <label for="46"><span class="size fs46"><input name="size" type="radio" id="46" value="46" class="sizeInput"><span class="textSize t4">a</span></span></label>
            <label for="56"><span class="size fs56"><input name="size" type="radio" id="56" value="56" class="sizeInput"><span class="textSize t5">a</span></span></label>
            <label for="66"><span class="size fs66"><input name="size" type="radio" id="66" value="66" class="sizeInput"><span class="textSize t6">a</span></span></label>
        </li>
        <li class="sizeLI">
            <label for="18"><span class="size fs18"><input name="size" type="radio" id="18" value="18" class="sizeInput"><span class="textSize t1">a</span></span></label>
            <label for="28"><span class="size fs28"><input name="size" type="radio" id="28" value="28" class="sizeInput"><span class="textSize t2">a</span></span></label>
            <label for="38"><span class="size fs38"><input name="size" type="radio" id="38" value="38" class="sizeInput"><span class="textSize t3">a</span></span></label>
            <label for="48"><span class="size fs48"><input name="size" type="radio" id="48" value="48" class="sizeInput"><span class="textSize t4">a</span></span></label>
            <label for="58"><span class="size fs58"><input name="size" type="radio" id="58" value="58" class="sizeInput"><span class="textSize t5">a</span></span></label>
            <label for="68"><span class="size fs68"><input name="size" type="radio" id="68" value="68" class="sizeInput"><span class="textSize t6">a</span></span></label>
        </li>
    </ul>
</li>
