{% extends "base.html.twig" %}

{% block title %}
{{ 'edit_comment'|trans }} - HAY
{% endblock %}

{% block body %}

{{ include("menu.html.twig") }}

<div>
    {% if is_granted('comment.edit') %}
    {% include "comment/commentForm.html.twig" %}
    <div class="comment" style="margin: auto; position: relative;">
        <div class="end"></div>
        <div class="comment-corner" style="background-color: var(--bg-light); bottom: calc(50px * var(--length-multiplication));"></div>
    </div>
    {% endif %}
</div>

{% endblock %}
