<li class="menuChoices optSize cF91 fs16">
    <span class="optionMenu"><i class="icofont icofont-text-height" aria-hidden="true"></i></span>
    <div class="sizeUL">
        {{ form_widget(form.size, {'attr': {'class': 'sizeInput fs16', 'value': '16', 'min': '10', 'max': '68', 'step': '2', 'value': '16'}}) }}
        <div class="sizeDisplay fs16">a</div>
    </div>
</li>
