<li class="menuChoices optPref">
    <button class="option optOther optPref cFFF fs16" type="button"><span id="optionMenu"><i class="icofont icofont-options icofont-rotate" aria-hidden="true"></i></span></button>
</li>