<li class="menuChoices optAccount c000 fs16">
    <span class="optionMenu"><i class="icofont-user" aria-hidden="true"></i></span>
    <div class="accountMenu">
        <span>{{ 'choose_user'|trans }}</span>{{ form_widget(post.user) }}
        <span>{{ 'choose_scope'|trans }}</span><select name="" id=""><option value="">placeholder</option></select>
    </div>
</li>
