<li class="menuChoices optColor c0A0 fs16">
    <span class="optionMenu"><i class="icofont-color-bucket" aria-hidden="true"></i></span>
    <div class="colorUL">
    {% for i, c in post.color %}
        <label for="post_color_{{i}}"><span class="color c{{ c.vars.value }}">{{ form_widget(c) }}</span></label>
    {% endfor %}
    </div>
</li>
