/* Send Comment Area */

.comment {
    width: calc(600px * var(--length-multiplication));
    height: calc(100px * var(--length-multiplication));
    margin-bottom: 0px;
}

.comment table {
    position: relative;
    bottom: calc(100px * var(--length-multiplication));
}

.sendCom {
    display: block;
    width: calc(45px * var(--length-multiplication));
    height: calc(45px * var(--length-multiplication));
    padding: 0px;
    background-color: blue;
    border: 0px;
    color: white;
    font-size: calc(20px * var(--length-multiplication));
    position: relative;
    top: calc(24px * var(--length-multiplication));
    text-align: center;
    padding-top: calc(12px * var(--length-multiplication));
}

.sendCom:hover {
    cursor: pointer;
}

.taCom {
    resize: none;
    font-family: sans-serif;
    font-size: calc(16px * var(--length-multiplication));
    width: calc(545px * var(--length-multiplication));
    height: calc(92.5px * var(--length-multiplication));
    background-color: white;
    border: calc(1px * var(--length-multiplication)) solid white;
    color: black;
}

/* Comments */

.com {
    background-color: lavender;
    min-height: calc(50px * var(--length-multiplication));
    padding-left: calc(50px * var(--length-multiplication));
    font-family: sans-serif;
    color: black;
}

.commentContent {
    padding: calc(5px * var(--length-multiplication));
    padding-left: 0px;
    margin-top: calc(-50px * var(--length-multiplication));
    z-index: 2;
    position: relative;
}

.comment-corner {
    width: calc(550px * var(--length-multiplication));
    height: calc(50px * var(--length-multiplication));
    transform: skewX(-45deg);
    margin-left: calc(25px * var(--length-multiplication));
    border-left: calc(1px * var(--length-multiplication)) solid grey;
    border-top: calc(1px * var(--length-multiplication)) solid grey;
    position: relative;
}

.end {
    height: calc(50px * var(--length-multiplication));
    width: calc(50px * var(--length-multiplication));
    background-color: lavender;
}