/* Send Comment Area */

.comment {
    width: calc(600px * var(--length-multiplication));
    height: calc(100px * var(--length-multiplication));
    margin-bottom: 0px;
}

.commentForm {
    position: relative;
    bottom: calc(100px * var(--length-multiplication));
    height: calc(95px * var(--length-multiplication));
    display: grid;
    grid-template-columns: calc(45px * var(--length-multiplication)) calc(545px * var(--length-multiplication));
    grid-gap: calc(5px * var(--length-multiplication));
    padding: calc(2.5px * var(--length-multiplication));
    grid-template-rows: calc(45px * var(--length-multiplication)) calc(45px * var(--length-multiplication));
}

.sendCom {
    display: inline-flex;
    background-color: blue;
    border: 0px;
    color: white;
    font-size: calc(20px * var(--length-multiplication));
    align-items: center;
    justify-content: center;
    cursor: pointer;
    grid-row: 2;
    grid-column: 1;
}

.taCom {
    resize: none;
    font-family: sans-serif;
    font-size: calc(16px * var(--length-multiplication));
    background-color: white;
    border: calc(1px * var(--length-multiplication)) solid white;
    color: black;
    grid-column: 2;
    grid-row: 1/3;
    margin: 0;
}

/* Comments */

.com {
    background-color: lavender;
    min-height: calc(50px * var(--length-multiplication));
    padding-left: calc(50px * var(--length-multiplication));
    font-family: sans-serif;
    color: black;
}

.comInf {
    display: grid;
    grid-template-columns: calc(45px * var(--length-multiplication)) auto min-content;
    grid-template-rows: calc(45px * var(--length-multiplication));
    padding-bottom: calc(2.5px * var(--length-multiplication));
}

.comInf > a {
    display: inline-flex;
    align-items: center;
}

.commentContent {
    padding: calc(5px * var(--length-multiplication));
    padding-left: 0px;
    margin-top: calc(-50px * var(--length-multiplication));
    z-index: 2;
    position: relative;
}

.comment-corner {
    width: calc(550px * var(--length-multiplication));
    height: calc(50px * var(--length-multiplication));
    transform: skewX(-45deg);
    margin-left: calc(25px * var(--length-multiplication));
    border-left: calc(1px * var(--length-multiplication)) solid grey;
    border-top: calc(1px * var(--length-multiplication)) solid grey;
    position: relative;
}

.end {
    height: calc(50px * var(--length-multiplication));
    width: calc(50px * var(--length-multiplication));
    background-color: lavender;
}