/*##########COLOR##########*/

/* GREY SHADES */
.c000 {
    background-color: #000000;
    color: white;
}
.c222 {
    background-color: #222222;
    color: white;
}
.c696 {
    background-color: #696969;
    color: white;
} /* 696969 | dimgrey */
.c999 {
    background-color: #999999;
    color: white;
}
.cDDD {
    background-color: #dddddd;
    color: white;
}
.cFFF {
    background-color: #ffffff;
    color: black;
}
/* RED */
.cE00 {
    background-color: #EE0000;
    color: white;
}
.cF00 {
    background-color: #ff0000;
    color: white;
}
.cF44 {
    background-color: #ff4444;
    color: white;
}
.cF05 {
    background-color: #ff0055;
    color: white;
}
/* PURPLE */
.c72C {
    background-color: #7722cc;
    color: white;
}
.cD0F {
    background-color: #dd00ff;
    color: white;
}
.cF2E {
    background-color: #ff22ee;
    color: white;
}
.cF6F {
    background-color: #ff66ff;
    color: white;
}
/* DARK BLUE */
.c008 {
    background-color: #000088;
    color: white;
}
.c22F {
    background-color: #2222ff;
    color: white;
}
.c08F {
    background-color: #0088ff;
    color: white;
}
.c0AE {
    background-color: #00AAEE;
    color: white;
}
/* LIGHT BLUE */
.c099 {
    background-color: #009999;
    color: white;
}
.c6DF {
    background-color: #66ddff;
    color: white;
}
.c0FF {
    background-color: #00ffff;
    color: white;
}
.c9FF {
    background-color: #99ffff;
    color: white;
}
/* GREEN */
.c0A0 {
    background-color: #00aa00;
    color: white;
}
.c0F0 {
    background-color: #00ff00;
    color: white;
}
.cBF0 {
    background-color: #BBFF00;
    color: white;
}
.c5F9 {
    background-color: #55ff99;
    color: white;
} /* "HAY" COLOR */
/* YELLOW */
.cF91 {
    background-color: #ff9911;
    color: white;
}
.cFD0 {
    background-color: #ffdd00;
    color: white;
}
.cEE0 {
    background-color: #eeee00;
    color: white;
}
.cFF0 {
    background-color: #ffff00;
    color: white;
}

/*##########FAMILY##########*/

.ffSS {
    font-family: sans-serif;
}

/*##########SIZE##########*/

/* FONT 10->19 */
.fs10 {
    font-size: calc(10px * var(--length-multiplication));
}
.fs12 {
    font-size: calc(12px * var(--length-multiplication));
}
.fs14 {
    font-size: calc(14px * var(--length-multiplication));
}
.fs16 {
    font-size: calc(16px * var(--length-multiplication));
}
.fs18 {
    font-size: calc(18px * var(--length-multiplication));
}
/* FONT 20->29 */
.fs20 {
    font-size: calc(20px * var(--length-multiplication));
}
.fs22 {
    font-size: calc(22px * var(--length-multiplication));
}
.fs24 {
    font-size: calc(24px * var(--length-multiplication));
}
.fs26 {
    font-size: calc(26px * var(--length-multiplication));
}
.fs28 {
    font-size: calc(28px * var(--length-multiplication));
}
/* FONT 30->39 */
.fs30 {
    font-size: calc(30px * var(--length-multiplication));
}
.fs32 {
    font-size: calc(32px * var(--length-multiplication));
}
.fs34 {
    font-size: calc(34px * var(--length-multiplication));
}
.fs36 {
    font-size: calc(36px * var(--length-multiplication));
}
.fs38 {
    font-size: calc(38px * var(--length-multiplication));
}
/* FONT 40->49 */
.fs40 {
    font-size: calc(40px * var(--length-multiplication));
}
.fs42 {
    font-size: calc(42px * var(--length-multiplication));
}
.fs44 {
    font-size: calc(44px * var(--length-multiplication));
}
.fs46 {
    font-size: calc(46px * var(--length-multiplication));
}
.fs48 {
    font-size: calc(48px * var(--length-multiplication));
}
/* FONT 50->59 */
.fs50 {
    font-size: calc(50px * var(--length-multiplication));
}
.fs52 {
    font-size: calc(52px * var(--length-multiplication));
}
.fs54 {
    font-size: calc(54px * var(--length-multiplication));
}
.fs56 {
    font-size: calc(56px * var(--length-multiplication));
}
.fs58 {
    font-size: calc(58px * var(--length-multiplication));
}
/* FONT 60->69 */
.fs60 {
    font-size: calc(60px * var(--length-multiplication));
}
.fs62 {
    font-size: calc(62px * var(--length-multiplication));
}
.fs64 {
    font-size: calc(64px * var(--length-multiplication));
}
.fs66 {
    font-size: calc(66px * var(--length-multiplication));
}
.fs68 {
    font-size: calc(68px * var(--length-multiplication));
}