/* General */

:root {
    /* Colors */
    --om-color: #00ffff;
    --hay-color: #55ff99;
    --hay-dark: #33dd77;
    --bg-light : #404040;
    --bg-dark : #303030;
    --font-color-grey: #b0b0b0;
    --gray-color: #999999;
    --gray-dark: #666666;
    --blue-color: #0000ff;
    --blue-light: #5555ff;

    /* Animations & Transitions */
    --transition-default-duration: 0.4s;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 80px;
    background-color: var(--bg-light);
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.warning {
    border: 0px;
    color: white;
    padding: 5px;
    display: block;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: sans-serif;
    z-index: 100000; /* So the Symfony toolbar became below the warning */
}

.warning > span {
    float: right;
    cursor: pointer;
}

.tabContent {
    display: none;
    margin-left: 250px;
    margin-top: -30px;
    width: calc(100% - 250px);
    padding: 50px;
    color: white;
    font-family: sans-serif;
    grid-template-columns: 50% 50%;
}

.tabContent h1 {
    border-bottom: 5px solid var(--hay-color);
    grid-column: 1/3;
}

.tabContent h2 {
    border-bottom: 5px solid var(--hay-color);
}

.tabContent textarea {
    resize: none;
    background-color: var(--gray-dark);
    border: 1px solid var(--gray-color);
    color: white;
}

.tabContent label {
    text-align: center;
    cursor: pointer;
}

.tabContent label input {
    cursor: pointer;
}

.criteria {
    background-color: var(--hay-color);
    color: white;
    font-family: sans-serif;
    grid-column: 1/3;
    padding: 5px;
}

#manage_authorization .criteria a {
    flex-grow: 1;
    text-align: center;
}

#stat_img {
    grid-column: 1/3;
    margin: auto;
    height: 55vh;
}

.userRolesShow {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px
}

.user#userRoles, .criteria .user {
    background-color: var(--hay-color);
}

.helper#userRoles, .criteria .helper {
    background-color: green;
}

.dev#userRoles, .criteria .dev {
    background-color: yellowgreen;
}

.design#userRoles, .criteria .design {
    background-color: dodgerblue;
}

.trans#userRoles, .criteria .trans {
    background-color: magenta;
}

.mod#userRoles, .criteria .mod {
    background-color: orange;
}

.admin#userRoles, .criteria .admin {
    background-color: red;
}

.root#userRoles, .criteria .root {
    background-color: blueviolet;
}

.owner#userRoles {
    background-color: black;
}

.criteria a[onclick^="openSubTab('"] {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subTabContent {
    display: none;
    grid-column: 1/3;
}

.lawsList {
    margin: 50px;
}

.laws {
    margin: 10px;
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: var(--gray-color);
}

.lawsName {
    display: grid;
    grid-template-columns: auto fit-content(100%);
    border-radius: 5px;
    background-color: dimgrey;
    padding: 25px;
}

a[id^="sql_"] {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sql_table {
    margin-top: 5px;
}

#sql_table th {
    background-color: #55FF99;
}

#sql_table table, #sql_table td {
    border: 1px solid #55FF99;
    border-collapse: collapse;
}

#sql_table th {
    border: 1px solid white;
}

#sql_table td div {
    max-width: 500px;
    overflow-x: auto;
}
