/* Menu */

@media screen and (min-width: 850px)
{
    :root {
        --search-bar-width: 500px;
    }
}

@media screen and (max-width: 850px) and (min-width: 600px)
{
    :root {
        --search-bar-width: 250px;
    }
}

@media screen and (max-width: 600px)
{
    :root {
        --is-search-bar-not-displayed: none;
        --is-confirm-has-no-bg: dimgrey;
        --is-confirm-float-right: right;
    }

    @media screen  and (max-width: 350px)
    {
        :root {
            --is-login-page-displayed: none;
        }
    }
}

.menu {
    display: block;
    width: 100%;
    height: 50px;
    background-color: dimgrey;
    position: fixed;
    top: 0;
    z-index: 10;
}

#version {
    color: white;
    background-color: rgb(255, 0, 0);
    font-size: 13px;
    font-family: monospace;
    position: absolute;
    left: 4px;
    top: 28px;
    z-index: 11;
}

.search {
    display: var(--is-search-bar-not-displayed, block);
    margin: 10px 0px;
    float: left;
    height: calc(100% - 20px);
    width: var(--search-bar-width);
    background-color: var(--bg-light);
    border: 1px solid grey;
    padding-left: 5px;
    color: white;
    -webkit-appearance: none; /* NOTE: Without this line, Safari display the search input weirdly */
}

.confirm {
    border: 1px solid var(--is-confirm-has-no-bg, grey);
    margin: 10px;
    margin-left: 0px;
    height: calc(100% - 20px);
    background-color: var(--is-confirm-has-no-bg, grey);
    color: var(--font-color-grey);
    width: 43px;
    transition: var(--transition-default-duration) background;
    float: var(--is-confirm-float-right, initial);
}

.confirm:hover {
    background-color: var(--is-confirm-has-no-bg, --grey-dark);
    cursor: pointer;
}

.parameter {
    cursor: pointer;
    float: right;
    height: 100%;
    display: block;
    padding-top: 8px;
}

.parameter i {
    margin: 0px 10px;
    color: var(--font-color-grey);
    font-size: 30px;
}

.ulParameter {
    display: none;
    position: fixed;
    right: 0px;
    top: 34px;
    background-color: dimgrey;
    height: calc(100% - 50px);
    width: 183px;
    cursor: auto;
    padding: 0px;
    list-style: none;
    overflow-y: auto;
}

.parameter:hover ul.ulParameter {
    display: block;
}

.userStats {
    display: flex;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    border-bottom: 1px solid var(--font-color-grey);
    min-height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.userStats img {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 10px;
}

.optionMenuChoice a {
    display: block;
    padding: 20px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid var(--font-color-grey);
}

.optionMenuChoice:hover {
    background-color: var(--font-color-grey);
}

.ulParameter #helper:hover {
    background-color: green;
}

.ulParameter #dev:hover {
    background-color: yellowgreen;
}

.ulParameter #design:hover {
    background-color : dodgerblue;
}

.ulParameter #trans:hover {
    background-color: magenta;
}

.ulParameter #mod:hover {
    background-color: orange;
}

.ulParameter #admin:hover {
    background-color: red;
}

.ulParameter #root:hover {
    background-color: blueviolet;
}

.notification {
    cursor: pointer;
    float: right;
    height: 100%;
    display: block;
    padding-top: 8px;
}

.notification i {
    margin: 0px 10px;
    color: var(--font-color-grey);
    font-size: 30px;
}

.ulNotification {
    display: none;
    position: fixed;
    right: 0px;
    top: 34px;
    background-color: dimgrey;
    height: 100%;
    width: 183px;
    cursor: auto;
    padding: 0px;
    list-style: none;
}

.notification:hover ul.ulNotification {
    display: block;
}

.notif {
    display: block;
    border-bottom: 1px solid var(--font-color-grey);
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding: 15px;
    word-wrap: break-word;
}

.users {
    cursor: pointer;
    float: right;
    height: 100%;
    display: block;
    padding-top: 8px;
}

.users i {
    margin: 0px 10px;
    color: var(--font-color-grey);
    font-size: 30px;
}

.ulUsers {
    display: none;
    position: fixed;
    right: 0px;
    top: 34px;
    background-color: dimgrey;
    height: 100%;
    width: 183px;
    cursor: auto;
    padding: 0px;
    list-style: none;
}

.users:hover ul.ulUsers {
    display: block;
}

.usersTitle {
    text-align: center;
    background-color: var(--hay-color);
    color: var(--bg-light);
    font-family: sans-serif;
    padding: 10px;
}

.liFriend {
    display: block;
    border-bottom: 1px solid var(--font-color-grey);
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding: 15px;
    word-wrap: break-word;
}

.liFriend {
    display: block;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    border-bottom: 1px solid var(--font-color-grey);
    transition: var(--transition-default-duration) background;
}

.liFriend img {
    height: 25px;
    width: 25px;
    float: left;
    margin: -6.25px;
    margin-right: 10px;
}

.liFriend:hover {
    transition: var(--transition-default-duration) background;
    background-color: var(--font-color-grey);
}

.loginPage {
    display: var(--is-login-page-displayed, block);
    text-decoration: none;
    color: white;
    background-color: var(--hay-color);
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    transition: background-color var(--transition-default-duration) ease-in-out;
    float: right;
    margin: 6px;
    border-radius: 5px;
}

.loginPage:hover {
    background-color: var(--hay-dark);
}
