@media screen and (min-width: 1450px)
{
    :root {
        --length-multiplication: 2;
    }
}

@media screen and (max-width: 1450px) and (min-width: 850px)
{
    :root {
        --length-multiplication: 1;
    }
}

@media screen and (max-width: 850px) and (min-width: 550px)
{
    :root {
        --length-multiplication: 0.5;
    }
}

@media screen and (max-width: 550px) and (min-width: 300px)
{
    :root {
        --length-multiplication: 0.25;
    }
}

@media screen and (max-width: 300px)
{
    :root {
        --length-multiplication: 0.125;
    }
}

/* Send Post Area */

.filter {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 0px;
    background-color: dimgrey;
    width: 50px;
    height: calc(100vh - 50px);
    z-index: 4;
}

.filter > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 5px;
    border-radius: 20px;
    background-color: var(--hay-color);
    z-index: 3;
}

.filter > * > i {
    display: inline;
    background-color: var(--hay-color);
    color: white;
}

.filter > *:hover + span, .filter > * + span:hover {
    display: flex;
    align-items: center;
    padding-left: 47.5px;
    background-color: var(--hay-dark);
    position: absolute;
    left: 0px;
    height: 45px;
    width: 500px;
    margin: 2.5px;
    border-radius: 22.5px;
    z-index: 2;
}

.filter > span {
    display: none;
    color: white;
    font-family: sans-serif;
}

.filter > span > *:not(label) {
    margin: 5px;
    background-color: var(--hay-color);
    height: 40px;
    width: auto;
    border-radius: 20px;
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    font-family: sans-serif;
    color: white;
    border: 1px solid var(--hay-dark);
    position: relative;
    z-index: 4;
}

.filter > span > label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 80px;
    padding-left: 40px;
    border-radius: 20px;
    background-color: var(--hay-color);
    position: relative;
    right: 50px;
}

#limit {
    padding-right: 20px;
}

.write {
    width: calc(600px * var(--length-multiplication));
    height: calc(360px * var(--length-multiplication));
    margin: auto;
    position: relative;
    z-index: 3; /* Because those who created z-index stacking context are weird persons */
}

.ta {
    resize: none;
    width: 100%;
    height: calc(100% - calc(20px * var(--length-multiplication)));
    background-color: inherit;
    border: calc(1px * var(--length-multiplication)) solid grey;
    color: inherit;
    font-family: sans-serif;
}

.textarea {
    padding: calc(5px * var(--length-multiplication));
    color: lavender;
    height: calc(300px * var(--length-multiplication));
    display: block;
    background-color: dimgrey;
    font-family: sans-serif;
}

/* Send Post Options */

.footer {
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: calc(50px * var(--length-multiplication));
    width: 100%;
}

.footer-corner {
    float: left;
    width: 0;
    height: 0;
    border-top: calc(50px * var(--length-multiplication)) solid dimgrey;
    border-right: calc(50px * var(--length-multiplication)) solid transparent;
    margin-left: calc(-25px * var(--length-multiplication));
    position: relative;
    left: calc(25px * var(--length-multiplication));
}

.footerMenu {
    margin: 0;
    height: calc(50px * var(--length-multiplication));
    padding: 0;
    line-height: 0px;
}

.menuChoices {
    list-style: none;
    display: inline-block;
    margin: 0px;
    transform: skewX(-45deg);
    cursor: pointer;
    border: 0px;
    padding: calc(17px * var(--length-multiplication)) calc(31.27px * var(--length-multiplication));
}

.menuChoices div {
    cursor: auto;
}

.option {
    border: 0px;
    padding-left: calc(30px * var(--length-multiplication));
    padding-right: calc(30px * var(--length-multiplication));
    margin: 0;
    margin-right: calc(-15px * var(--length-multiplication));
    height: calc(50px * var(--length-multiplication));
    transform: skewX(-45deg);
}

.option:hover {
    cursor: pointer;
}

/* General Options */

.optionMenu {
    display: inline-block;
    transform: skewX(45deg);
}

/* Color Options */

.colorUL {
    display: none;
    background-color: lavender;
    padding: calc(5px * var(--length-multiplication));
    border-bottom-left-radius: calc(10px * var(--length-multiplication));
    border-bottom-right-radius: calc(10px * var(--length-multiplication));
    width: calc(255px * var(--length-multiplication));
    transform: skewX(45deg);
    margin-top: calc(17px * var(--length-multiplication));
    cursor: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.optColor:hover .colorUL {
    display: flex;
}

.color {
    display: inline-block;
    width: calc(35px * var(--length-multiplication));
    height: calc(35px * var(--length-multiplication));
    border-radius: calc(100px * var(--length-multiplication));
    margin: calc(2.5px * var(--length-multiplication));
}

.color:hover {
    cursor: pointer;
}

[name="post[color]"] {
    margin: 0px;
}

[name="post[color]"]:hover {
    cursor: pointer;
}

/* Size Options */

.sizeUL {
    display: none;
    background-color: lavender;
    padding: calc(5px * var(--length-multiplication));
    border-bottom-left-radius: calc(10px * var(--length-multiplication));
    border-bottom-right-radius: calc(10px * var(--length-multiplication));
    width: calc(255px * var(--length-multiplication));
    height: calc(215px * var(--length-multiplication));
    transform: skewX(45deg);
    margin-top: calc(17px * var(--length-multiplication));
    color: black;
}

.optSize:hover .sizeUL {
    display: block;
    position: absolute;
    z-index: 3;
}

.sizeDisplay {
    height: calc(100% - calc(34px * var(--length-multiplication)));
    display: block;
    background-color: white;
    width: 100%;
    border-bottom-left-radius: calc(5px * var(--length-multiplication));
    border-bottom-right-radius: calc(5px * var(--length-multiplication));
    text-align: center;
    line-height: normal;
    cursor: auto;
}

.sizeInput {
    display: block;
    height: calc(34px * var(--length-multiplication));
    width: calc(100%);
    text-align: center;
}

/* Account Options */

.accountMenu {
    display: none;
    background-color: lavender;
    padding: calc(5px * var(--length-multiplication));
    border-bottom-left-radius: calc(10px * var(--length-multiplication));
    border-bottom-right-radius: calc(10px * var(--length-multiplication));
    width: calc(255px * var(--length-multiplication));
    transform: skewX(45deg);
    margin-top: calc(17px * var(--length-multiplication));
    color: black;
    line-height: normal;
    grid-template-columns: 40% auto;
    grid-gap: 5px;
    right: calc(-128px * var(--length-multiplication));
    word-wrap: break-word;
}

.optAccount:hover .accountMenu {
    display: grid;
    position: absolute;
    z-index: 3;
}

/* Send Post Buttons */

.send {
    background-color: lavender;
    cursor: pointer;
}

#sendArrow {
    display: block;
    transform: skewX(45deg);
    position: relative;
    top: calc(15px * var(--length-multiplication));
}

.sendButton {
    display: none;
}

/* Posts */

.newPosts {
    width: calc(600px * var(--length-multiplication));
    height: calc(50px * var(--length-multiplication));
    margin: calc(10px * var(--length-multiplication)) auto;
    border-radius: calc(5px * var(--length-multiplication));
    cursor: pointer;
    background-color: var(--gray-dark);
    transition: background-color var(--transition-default-duration) ease-in-out;
    color: white;
    justify-content: center;
    align-items: center;
    display: none;
}

.newPosts:hover {
    background-color: var(--gray-color);
}

.text {
    width: calc(600px * var(--length-multiplication));
    margin: auto;
    margin-top: calc(10px * var(--length-multiplication));
    margin-bottom: calc(-50px * var(--length-multiplication));
}

.infHAY {
    width: calc(600px * var(--length-multiplication));
    height: calc(50px * var(--length-multiplication));
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: calc(50px * var(--length-multiplication));
    padding-left: calc(50px * var(--length-multiplication));
    font-family: sans-serif;
    display: grid;
    grid-template-columns: calc(45px * var(--length-multiplication)) auto min-content;
    grid-template-rows: auto min-content;
    -ms-display: grid;
    -ms-grid-template-columns: calc(45px * var(--length-multiplication)) auto min-content;
    -ms-grid-template-rows: auto min-content;
    padding-top: calc(2.5px * var(--length-multiplication));
    padding-bottom: calc(2.5px * var(--length-multiplication));
}

.infHAY-corner {
    float: left;
    width: 0;
    height: 0;
    border-top: calc(50px * var(--length-multiplication)) solid var(--bg-light);
    border-right: calc(50px * var(--length-multiplication)) solid transparent;
    margin-left: calc(-25px * var(--length-multiplication));
    position: relative;
    right: calc(25px * var(--length-multiplication));
    bottom: calc(45px * var(--length-multiplication));
}

.infHAY > a {
    display: inline-flex;
    align-items: center;
    grid-row: 1/3;
    -ms-grid-row: 1/3;
}

.burgerMenu {
    position: relative;
    display: inline-block;
}

.burgerMenuContent {
    display: none;
    position: absolute;
    right: 0;
    z-index: 3;
}

.burgerMenuContent a {
    display: block;
    padding: 5px;
	color: black !important;
}

.burgerMenuContent a:hover {
    background-color: white;
    cursor: pointer;
	color: black !important;
    text-decoration: none !important;
}

.burgerMenu:hover .burgerMenuContent {
    display: block;
    background-color: lavender;
    border-radius: 5px;
    padding: 5px 0px;
    color: black;
    font-family: sans-serif;
	box-shadow: 0px 0px 5px black;
}

.content {
    border-top: calc(2px * var(--length-multiplication)) solid;
    padding: calc(5px * var(--length-multiplication));
    width: calc(600px * var(--length-multiplication));
    max-height: calc(300px * var(--length-multiplication));
    word-wrap: break-word;
    overflow-y: auto;
}
