@media screen and (min-width: 1450px)
{
    :root {
        --length-multiplication: 2;
        --footer-margin-left: 10px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 850px)
{
    :root {
        --length-multiplication: 1;
        --footer-margin-left: -15px;
    }
}

@media screen and (max-width: 850px) and (min-width: 550px)
{
    :root {
        --length-multiplication: 0.5;
        --footer-margin-left: -27.5px;
    }
}

@media screen and (max-width: 550px) and (min-width: 300px)
{
    :root {
        --length-multiplication: 0.25;
        --footer-margin-left: -34px;
    }
}

@media screen and (max-width: 300px)
{
    :root {
        --length-multiplication: 0.125;
        --footer-margin-left: -36.75px;
    }
}

/* Send Post Area */

.write {
    width: calc(600px * var(--length-multiplication));
    height: calc(360px * var(--length-multiplication));
    margin: auto;
    margin-top: calc(20px * var(--length-multiplication));
}

.ta {
    resize: none;
    width: 100%;
    height: calc(100% - calc(20px * var(--length-multiplication)));
    background-color: inherit;
    border: 1px solid grey;
    color: inherit;
    font-family: sans-serif;
}

.textarea {
    padding: calc(5px * var(--length-multiplication));
    color: lavender;
    height: calc(300px * var(--length-multiplication));
    display: block;
    background-color: dimgrey;
    font-family: sans-serif;
}

/* Send Post Options */

.footer {
    background-image: url('../ressources/corner.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: calc(50px * var(--length-multiplication));
    width: 100%;
}

.footerMenu {
    margin: 0;
    margin-left: var(--footer-margin-left);
}

.menuChoices {
    list-style: none;
    display: inline-block;
    width: calc(85.7px * var(--length-multiplication));
    margin-right: calc(-14px * var(--length-multiplication));
}

.option {
    border: 0px;
    padding-left: calc(30px * var(--length-multiplication));
    padding-right: calc(30px * var(--length-multiplication));
    margin: 0;
    margin-right: calc(-15px * var(--length-multiplication));
    height: calc(50px * var(--length-multiplication));
    transform: skewX(-45deg);
}

.option:hover {
    cursor: pointer;
}

/* General Options */

.optPref {
    margin-right: calc(-9px * var(--length-multiplication))!important;
}

#optionMenu {
    display: block;
    transform: skewX(45deg);
}

/* Color Options */

.colorUL {
    display: none;
    background-color: lavender;
    list-style: none;
    padding: calc(5px * var(--length-multiplication));
    border-bottom-left-radius: calc(10px * var(--length-multiplication));
    border-bottom-right-radius: calc(10px * var(--length-multiplication));
    width: calc(255px * var(--length-multiplication));
}

.optColor:hover ul.colorUL {
    display: block;
    position: absolute;
    margin-left: calc(-100px * var(--length-multiplication));
    z-index: 3;
}

.colorLI {
    margin: calc(5px * var(--length-multiplication));
}

.color {
    display: inline-block;
    width: calc(35px * var(--length-multiplication));
    height: calc(35px * var(--length-multiplication));
    border-radius: calc(100px * var(--length-multiplication));
}

.color:hover {
    cursor: pointer;
}

[name="form[color]"] {
    margin: 0px;
}

[name="form[color]"]:hover {
    cursor: pointer;
}

/* Size Options */

.sizeUL {
    display: none;
    background-color: lavender;
    list-style: none;
    padding: calc(5px * var(--length-multiplication));
    border-bottom-left-radius: calc(10px * var(--length-multiplication));
    border-bottom-right-radius: calc(10px * var(--length-multiplication));
    width: calc(255px * var(--length-multiplication));
    height: calc(215px * var(--length-multiplication));
}

.optSize:hover ul.sizeUL {
    display: block;
    position: absolute;
    margin-left: calc(-100px * var(--length-multiplication));
    z-index: 3;
}

.sizeDisplay {
  height: calc(100% - calc(34px * var(--length-multiplication)));
  display: block;
  background-color: white;
  width: 100%;
  border-bottom-left-radius: calc(5px * var(--length-multiplication));
  border-bottom-right-radius: calc(5px * var(--length-multiplication));
  text-align: center;
}

.sizeInput {
  display: block;
  height: calc(34px * var(--length-multiplication));
  width: calc(100%);
  text-align: center;
}

/* Account Options */

.optAccount {
    margin-left: calc(-1px * var(--length-multiplication));
}

/* Send Post Buttons */

.sendPost {
    margin-left: calc(3px * var(--length-multiplication));
}

.send {
    display: block;
    border: 0px;
    background-color: lavender;
    padding-left: calc(30px * var(--length-multiplication));
    padding-right: calc(15px * var(--length-multiplication));
    margin: 0;
    height: calc(50px * var(--length-multiplication));
    transform: skewX(-45deg);
    position: relative;
    bottom: calc(15px * var(--length-multiplication));
    right: calc(6px * var(--length-multiplication));
}

.send:hover {
    cursor: pointer;
}

#sendArrow {
    display: block;
    transform: skewX(45deg);
    position: relative;
    top: calc(15px * var(--length-multiplication));
}

.sendButton {
    display: none;
}

/* Posts */

.text {
    width: calc(600px * var(--length-multiplication));
    margin: auto;
    margin-top: calc(10px * var(--length-multiplication));
}

.infHAY {
    width: calc(600px * var(--length-multiplication));
    height: calc(50px * var(--length-multiplication));
    background-image: url('../ressources/anti-corner.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: calc(50px * var(--length-multiplication));
    padding-left: calc(50px * var(--length-multiplication));
    font-family: sans-serif;
    vertical-align: middle;
    display: table-cell;
}

.content {
    border-top: 2px solid;
    padding: calc(5px * var(--length-multiplication));
    width: calc(600px * var(--length-multiplication));
    max-height: calc(300px * var(--length-multiplication));
    word-wrap: break-word;
    overflow-y: auto;
}