.reportBackground {
    display: flex;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}

.report {
    color: white;
    font-family: sans-serif;
    border-radius: 5px;
    background-color: var(--bg-light);
    width: 600px;
    margin: auto;
    padding: 15px;
    border-top: 5px solid var(--hay-color);
}

.reportName {
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 19px 31px; 
    border-radius: 5px;
    background-color: dimgrey;
    padding: 25px;
}
