* {
    box-sizing: border-box;
}

body {
    margin: 0;
    margin-top: 80px;
    background-color: #404040;
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu {
    display: block;
    width: 100%;
    height: 50px;
    background-color: dimgrey;
    position: fixed;
    top: 0;
    z-index: 10;
}

#version {
    color: white;
    background-color: rgb(255, 0, 0);
    font-size: 13px;
    font-family: monospace;
    position: absolute;
    left: 4px;
    top: 28px;
    z-index: 11;
}

.search {
    margin: 10px;
    float: left;
    margin-left: 0px;
    height: calc(100% - 20px);
    width: 500px;
    background-color: #404040;
    border: 1px solid grey;
    padding-left: 5px;
    color: white;
    -webkit-appearance: none; /* NOTE: Without this line, Safari display the search input weirdly */
}

.confirm {
    border: 1px solid grey;
    margin: 10px;
    margin-left: 0px;
    height: calc(100% - 20px);
    background-color: #404040;
    color: #b0b0b0;
}

.confirm:hover {
    background-color: #303030;
    cursor: pointer;
}

.parameter {
    cursor: pointer;
    float: right;
    height: 100%;
    display: block;
    padding-top: 8px;
}

.parameter i {
    margin: 0px 10px;
    color: #b0b0b0;
    font-size: 30px;
}

.ulParameter {
    display: none;
    position: fixed;
    right: 0px;
    top: 34px;
    background-color: dimgrey;
    height: 100%;
    width: 183px;
    cursor: auto;
    padding: 0px;
    list-style: none;
}

.parameter:hover ul.ulParameter {
    display: block;
}

.userStats {
    display: block;
    padding: 20px;
    color: white;
    font-family: sans-serif;
    border-bottom: 1px solid #b0b0b0;
    padding-left: 70px;
}

.userStats img {
    height: 50px;
    width: 50px;
    float: left;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
}

.optionMenuChoice a {
    display: block;
    padding: 20px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #b0b0b0;
}

.optionMenuChoice:hover {
    background-color: #b0b0b0;
}

.notification {
    cursor: pointer;
    float: right;
    height: 100%;
    display: block;
    padding-top: 8px;
}

.notification i {
    margin: 0px 10px;
    color: #b0b0b0;
    font-size: 30px;
}

.ulNotification {
    display: none;
    position: fixed;
    right: 0px;
    top: 34px;
    background-color: dimgrey;
    height: 100%;
    width: 183px;
    cursor: auto;
    padding: 0px;
    list-style: none;
}

.notification:hover ul.ulNotification {
    display: block;
}

.notif {
    display: block;
    border-bottom: 1px solid #b0b0b0;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding: 15px;
    word-wrap: break-word;
}

.users {
    cursor: pointer;
    float: right;
    height: 100%;
    display: block;
    padding-top: 8px;
}

.users i {
    margin: 0px 10px;
    color: #b0b0b0;
    font-size: 30px;
}

.ulUsers {
    display: none;
    position: fixed;
    right: 0px;
    top: 34px;
    background-color: dimgrey;
    height: 100%;
    width: 183px;
    cursor: auto;
    padding: 0px;
    list-style: none;
}

.users:hover ul.ulUsers {
    display: block;
}

.usersTitle {
    text-align: center;
    background-color: #55ff99;
    color: #404040;
    font-family: sans-serif;
    padding: 10px;
}

.liFriend {
    display: block;
    border-bottom: 1px solid #b0b0b0;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    padding: 15px;
    word-wrap: break-word;
}

.liFriend {
    display: block;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    border-bottom: 1px solid #b0b0b0;
    transition: 0.8s background;
}

.liFriend img {
    height: 25px;
    width: 25px;
    float: left;
    margin: -6.25px;
    margin-right: 10px;
}

.liFriend:hover {
    transition: 0.8s background;
    background-color: #b0b0b0;
}

.loginPage {
    display: block;
    text-decoration: none;
    color: white;
    background-color: #55FF99;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    transition: background-color 0.8s ease-in-out;
    float: right;
    margin: 6px;
    border-radius: 5px;
}

.loginPage:hover {
    background-color: #44EE88
}

.ta {
    resize: none;
    width: 100%;
    height: calc(100% - 20px);
    background-color: inherit;
    border: 1px solid grey;
    color: inherit;
    font-family: sans-serif;
}

.textarea {
    padding: 5px;
    color: lavender;
    height: 300px;
    display: block;
    background-color: dimgrey;
    font-family: sans-serif;
}

.write {
    width: 600px;
    height: 360px;
    margin: auto;
    margin-top: 20px;
}

.footer {
    background-image: url('../ressources/corner.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 50px;
    width: 100%;
}

.footerMenu {
    margin: 0;
    margin-left: -15px;
}

.menuChoices {
    list-style: none;
    display: inline-block;
    width: 85.7px;
    margin-right: -14px;
}

.option {
    border: 0px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
    margin-right: -15px;
    height: 50px;
    transform: skewX(-45deg);
}

.option:hover {
    cursor: pointer;
}

.optPref {
    margin-right: -9px!important;
}

.colorUL {
    display: none;
    background-color: lavender;
    list-style: none;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 255px;
}

.optColor:hover ul.colorUL {
    display: block;
    position: absolute;
    margin-left: -100px;
    z-index: 3;
}

.colorLI {
    margin: 5px;
}

.color {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.color:hover {
    cursor: pointer;
}

[name="form[color]"] {
    margin: 0px;
}

[name="form[color]"]:hover {
    cursor: pointer;
}

.sizeUL {
    display: none;
    background-color: lavender;
    list-style: none;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 255px;
    height: 215px;
}

.optSize:hover ul.sizeUL {
    display: block;
    position: absolute;
    margin-left: -100px;
    z-index: 3;
}

.sizeDisplay {
  height: calc(100% - 34px);
  display: block;
  background-color: white;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  vertical-align: middle;
  text-align: center;
}

.sizeInput {
  display: block;
  height: 34px;
  width: calc(100%);
  text-align: center;
}

#optionMenu {
    display: block;
    transform: skewX(45deg);
}

.optAccount {
    margin-left: -1px;
}

.sendPost {
    margin-left: 3px;
}

.send {
    display: block;
    border: 0px;
    background-color: lavender;
    padding-left: 30px;
    padding-right: 15px;
    margin: 0;
    height: 50px;
    transform: skewX(-45deg);
    position: relative;
    bottom: 15px;
    right: 6px;
}

.send:hover {
    cursor: pointer;
}

#sendArrow {
    display: block;
    transform: skewX(45deg);
    position: relative;
    top: 15px;
}

.sendButton {
    display: none;
}

.text {
    width: 600px;
    margin: auto;
    margin-top: 10px;
}

.infHAY {
    width: 600px;
    height: 50px;
    background-image: url('../ressources/anti-corner.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 50px;
    padding-left: 50px;
    font-family: sans-serif;
    vertical-align: middle;
    display: table-cell;
}

.content {
    border-top: 2px solid;
    padding: 5px;
    width: 600px;
    max-height: 300px;
    word-wrap: break-word;
    overflow-y: auto;
}

.comment {
    width: 600px;
    height: 100px;
    background-image: url('../ressources/comment.png');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}

.sendCom {
    display: block;
    width: 45px;
    height: 45px;
    padding: 0px;
    background-color: blue;
    border: 0px;
    color: white;
    font-size: 20px;
    position: relative;
    top: 24px;
    text-align: center;
    padding-top: 12px;
}

.sendCom:hover {
    cursor: pointer;
}

.taCom {
    resize: none;
    font-family: sans-serif;
    font-size: 16px;
    width: 545px;
    height: 92.5px;
    background-color: white;
    border: 1px solid white;
    color: black;
}

.com {
    background-color: lavender;
    background-image: url('../ressources/comment-corner.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    min-height: 50px;
    padding: 5px;
    padding-left: 50px;
    font-family: sans-serif;
    color: black;
}

.answer {
    margin-top: 5px;
    margin-left: 50px;
    padding-top: 5px;
    width: 500;
    border-top: 1px solid grey;
}

.answer i {
    color: grey;
}

.end {
    height: 50px;
    background-image: url('../ressources/comment-corner.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.loginBody {
    margin: auto;
}

.loginIcons {
    display: block;
    margin: auto;
}

.login {
    display: block;
    background-color: #404040;
    border: 0px;
    border-bottom: 2px solid #55FF99;
    color: white;
    padding: 5px;
    width: 96px;
    transition: width 0.4s ease-in-out;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

.login:focus {
    width: calc(100% - 10px);
    text-align: left;
}

.loginLarge {
    width: 130px;
    transition: width 0.8s ease-in-out;
}

.loginLarge:focus {
    width: calc(100% - 10px);
    text-align: left;
}

.cookies {
    display: block;
    margin: auto;
    color: white;
    background-color: #404040;
    padding: 5px;
    border: 0px;
    border-bottom: 2px solid #55FF99;
    text-align: center;
    cursor: pointer;
}

.submit {
    display: block;
    color: white;
    background-color: #55FF99;
    margin: auto;
    margin-top: 10px;
    border: 0px;
    padding: 7px;
    transition: background-color 0.8s ease-in-out;
}

.submit:hover {
    cursor: pointer;
    background-color: #44EE88;
}

.loginSwitch {
    display: block;
    width: calc(100%-20px);
    text-decoration: none;
    color: white;
    background-color: #55FF99;
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    transition: background-color 0.8s ease-in-out;
}

.loginSwitch:hover {
    background-color: #44EE88
}

.loginRememberme {
    text-align: center;
}

.loginRememberme label {
    display: inline-block;
    color: white;
    background-color: #55FF99;
    font-family: sans-serif;
    padding: 5px;
}

.loginError {
    border: 0px;
    background: red;
    color: white;
    padding: 5px;
    display: block;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: sans-serif;
}

#closeError {
    float: right;
    cursor: pointer;
}

.localeHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;
    background-color: #00FFFF;
    background-image: url('../ressources/icon.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 130px;
    color: white;
    font-family: sans-serif;
}

.localeContent {
    padding: 15px;
    text-align: center;
    font-family: sans-serif;
}

.locale {
    margin: 15px auto;
    padding: 10px;
    background-color: #55ff99;
    border-radius: 7px;
    width: 110px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.8s background;
    display: block;
    color: white;
    text-decoration: none;
}

.locale:hover {
    transition: 0.8s background;
    background-color: #33dd77;
}

.userMenu {
    position: fixed;
    top: 50px;
    left: 0px;
    background-color: dimgrey;
    height: calc(100vh - 50px);
    overflow-y: auto;
    width: 250px;
}

.userInfo {
    background-color: #55ff99;
    text-align: center;
    color: #404040;
    padding-bottom: 15px;
    border-bottom: 2px solid #404040
}

.userImg {
    background-color: #999999;
    display: block;
    height: 250px;
    width: 250px;
    padding: 25px;
    margin-bottom: 15px;
    border-bottom: 2px solid #404040;
}

.userMenu a {
    display: block;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid #999999;
    transition: 0.5s background;
}

.userMenu a:hover {
    background-color: #999999;
    transition: 0.5s background;
}

.userMenu a i {
    float: right;
}

.friend {
    background-color: #0000ff;
    border-bottom: 2px solid #404040!important;
}

.friend:hover, #fselected {
    background-color: #3333ff!important;
    border-bottom: 2px solid #404040!important;
}

#fselected {
    cursor: default;
}

#selected {
    background-color: #999999;
}
