<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/ressources/HAYlogo.ico" />
        <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css" type="text/css" />
        <link rel="stylesheet" href="/fonts/icofont/css/icofont.css" type="text/css" />
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />
        <link rel="stylesheet" href="/styles/font.css" type="text/css" />
        <title>{% block title %}Ce titre a un problème...{% endblock %}</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        {% block css %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h1>Oulà !</h1>
        Un problème s'est produit !
        {% endblock %}
        {% block js %}
        {% endblock %}
    </body>
</html>
