<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="view/ressources/HAYlogo.png" />
        <link rel="stylesheet" href="view/fonts/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="view/fonts/icofont/css/icofont.css">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
