{# Menu #}
<div class="menu">
    <a href="{{ url('app_index') }}"><img src="/ressources/HAYlogo.png" style="float: left; width: 50px; height: 50px" /></a>
    <input class="search" type="search" placeholder="{{ 'search'|trans }}" />
    <button class="confirm"><i class="icofont icofont-search-alt-2"></i></button>
    <span id="version">alpha</span>
    <span class="parameter"><i class="icofont icofont-wrench"></i>{{ include('options.html.twig') }}</span>
    <span class="notification"><i class="icofont icofont-notification"></i>{{ render(url('app_notification', {'id_user': app.user.id})) }}</span>
</div>
