<ul class="ulParameter">
    <li class="userStats">
        <img src="/ressources/icone.png" />{{ 'hello'|trans }} {{ app.user.firstname }}
    </li>
    <li class="logout">
        <a href="{{ path('app_logout') }}">{{ "to_logout"|trans }}</a>
    </li>
</ul>
