<div class="usersTitle">{{ 'friends'|trans }}</div>
{% for friend in friends %}
    <a href="{{ url('user_show', {'id': friend.id}) }}">
        <li class="liFriend">
            <img src="/ressources/icone.png" />{{ friend.firstname }} {{ friend.lastname }}
        </li>
    </a>
{% endfor %}
