<div class="reportBackground">
    <div class="report">
        <i class="icofont-close-line" style="float: right; cursor: pointer;" onclick="closeReportWindow();"></i>
        <h1 style="border-bottom: 5px solid var(--hay-color);">{{ 'report'|trans }}</h1>
    </div>
</div>
